* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/*----------- menu de navegação----------- */
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(105, 104, 104);

}

.menu li {
    float: left;
}

.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu li a:hover {
    background-color: #111;
}

.active {
    background-color: #54f85c;
}

/*----------- banner index -----------*/
.banner-image{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url("../img/fundoplanta.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    height: 30em;
}

.banner2-image{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url("../img/arara.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    height: 30em;
}

 .banner-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

  h1{
      font-size: 4em;
  }


  /*----------- conteudo -----------*/
  .conteudo{
    display: flex;
    flex-direction: row;
    margin: 3em; 
    align-items: center; 
  }

  .texto{
    text-align: justify;
    padding: 2em;
  }

  .img{
      width: 100%;
      border-radius: 50%;
  }

  .img .br-50{
      border-radius: 50%;
      width: 400px;
      height: 400px;
  }

  .video{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }

  h2{
      font-size: 2em;
      padding-bottom: 1em;
  }

  .titulo2{
      text-align: center;
  }

  /*----------- formulario -----------*/

  
  .formulario{
    display: flex;
    align-items: center;
    margin-right: 10em;
    margin-left: 10em;
    padding: 3em;
  }

  .form{
      margin-right: 4em;
  }

  